:root {
    --px: 0;
    --py: 0;
}

html {
    min-height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020405;
    min-height: 100vh;
    overflow-x: hidden;
    @media(min-width: $hd) {
        background: radial-gradient(75.27% 79.03% at 24.73% -1.56%, #020405 0%, #2D2E45 47.19%, #242739 56.71%, #020405 100%);
    }
}

.overflow {
    overflow: hidden;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    font-family: 'Montserrat', Arial, sans-serif;
}

p {
    margin-top: 0;
}