body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #020405;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

*:focus {
    outline: none;
}

button,
input {
    font-family: 'Montserrat', Arial, sans-serif;
}