.button {
    align-items: center;
    border-radius: 2px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color 0.3s;
    white-space: nowrap;
    @media(min-width: $hd) {
        font-size: 18px;
        height: 56px;
        padding: 12px;
    }

    svg {
        fill: #fff;
        height: 24px;
        margin-right: 8px;
        min-width: 24px;
        width: 24px;
        @media(min-width: $hd) {
            height: 32px;
            min-width: 32px;
            width: 32px;
        }
    }

    &--type_1 {
        border: 2px solid #5474B4;
        background-color: #5474B4;

        &:active,
        &:hover {
            background-color: rgba(#5474B4, 0.3);
        }
    }

    &--type_2 {
        border: 2px solid #D43C38;
        background-color: #D43C38;

        &:active,
        &:hover {
            background-color: rgba(#D43C38, 0.3);
        }
    }

    &.disabled,
    &:disabled {
        background-color: rgba(#fff, 0.2);
        border-color: transparent;
        box-shadow: none;
        color: rgba(#fff, 0.2);
        cursor: default;
        pointer-events: none;

        &:active,
        &:focus,
        &:hover {
            background-color: rgba(#fff, 0.2);
            border-color: transparent;
            box-shadow: none;
            color: rgba(#fff, 0.2);
            text-decoration: none;
        }
    }
}