.card {
    background-color: #0C1117;
    background: radial-gradient(51.84% 58.28% at 42.63% 71.6%, #3A3C59 0%, #0C1117 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    max-width: 1086px;
    padding: 16px 12px;
    @media(min-width: $fhd) {
        border-radius: 20px;
        padding: 24px;
    }
    @media(min-width: $q) {
        max-width: 1324px;
    }

    &__title-block {
        font-size: 0;
        text-align: center;
    }

    &__title {
        color: #fff;
        display: inline-block;
        font-size: 24px;
        font-weight: 900;
        line-height: 1.33333;
        letter-spacing: 0.3px;
        margin: 0 0 4px;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        @media(min-width: $fhd) {
            font-size: 32px;
            line-height: 1.75;
            min-width: 100%;
            margin-bottom: 8px;
            width: 100%;
        }
        @media(min-width: $ufhd) {
            font-size: 48px;
            line-height: 1.16666;
            margin-bottom: 16px;
        }
    }

    &__rating {
        align-items: center;
        display: inline-flex;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33333;
        margin: 0 12px 4px;
        vertical-align: middle;
        @media(min-width: $fhd) {
            margin-left: 0;
        }
        @media(min-width: $ufhd) {
            font-size: 24px;
        }

        svg {
            fill: #EAAC52;
            height: 20px;
            margin-right: 12px;
            width: 20px;
            @media(min-width: $ufhd) {
                height: 24px;
                margin-right: 8px;
                width: 24px;
            }
        }
    }

    &__title-br {
        @media(min-width: $fhd) {
            display: none;
        }
    }

    &__label {
        align-items: center;
        border-radius: 44px;
        border-width: 2px;
        border-style: solid;
        color: #fff;
        display: inline-flex;
        font-size: 12px;
        font-weight: 600;
        height: 24px;
        line-height: 1.33333;
        margin: 0 2px 4px;
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: middle;
        @media(min-width: $ufhd) {
            font-size: 16px;
            height: 32px;
            margin-left: 6px;
            margin-right: 6px;
            padding: 6px 12px;
        }

        &:last-child {
            @media(min-width: $fhd) {
                margin-right: 0;
            }
        }

        &--type_1 {
            border-color: #EAAC52;
            background-color: rgba(#EAAC52, 0.3);
        }

        &--type_2 {
            border-color: #47DF58;
            background-color: rgba(#47DF58, 0.3);
        }

        &--type_3 {
            border-color: #9B5DE5;
            background-color: rgba(#9B5DE5, 0.3);
        }
    }

    &__buttons {
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @media(min-width: $fhd) {
            top: 56px;
        }
    }

    &__button {
        align-items: center;
        background-color: #0C1117;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 4px 0 rgba(#fff, 0.3);
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        margin-bottom: 8px;
        padding: 0;
        position: relative;
        transition: background-color 0.3s;
        width: 40px;
        z-index: 1;
        @media(min-width: $ufhd) {
            height: 48px;
            width: 48px;
        }

        &:active,
        &:hover {
            background-color: #fff;

            svg {
                fill: #090D11;
            }
        }

        svg {
            fill: #fff;
            height: 24px;
            transition: fill 0.3s;
            width: 24px;
        }
    }

    &__button-qnt {
        align-items: center;
        border-radius: 50%;
        background-color: #5474B4;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        height: 18px;
        left: auto;
        position: absolute;
        right: -4px;
        top: -4px;
        width: 18px;
    }

    &__middle-block {
        margin-bottom: auto;
        margin-top: auto;
        position: relative;
        z-index: 1;
    }

    &__image {
        margin-left: auto;
        margin-right: auto;
        width: 308px;
        @media(min-width: 1500px) {
            width: 370px;
        }
        @media(min-width: $fhd) {
            width: 500px;
        }
        @media(min-width: $ufhd) and (min-height: 1300px) {
            width: 600px;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            width: 800px;
        }
        @media(min-width: $q) and (min-height: 1700px) {
            width: 920px;
        }
    }

    &__colors {
        margin: -32px auto 16px;
        position: relative;
        z-index: 2;
        @media(min-width: $fhd) {
            margin-top: -96px;
        }
        @media(min-width: $ufhd) {
            margin-bottom: 32px;
        }
    }

    &__colors-title {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.11111;
        margin-top: 0;
        margin-bottom: 8px;
        text-align: center;
        @media(min-width: $fhd) {
            font-size: 16px;
        }
        @media(min-width: $ufhd) {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

    &__colors-list {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__colors-list-item {
        margin-left: 4px;
        margin-right: 4px;
        @media(min-width: $ufhd) {
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    &__color {
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        height: 32px;
        transition: border-color 0.3s;
        width: 32px;
        @media(min-width: $fhd) {
            height: 40px;
            width: 40px;
        }
        @media(min-width: $ufhd) {
            height: 64px;
            width: 64px;
        }

        &.is-active {
            border-color: #fff;
        }
    }

    &__buttons-2 {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
        position: relative;
        z-index: 2;
        @media(min-width: $fhd) {
            margin-bottom: 24px;
        }
    }

    &__button-2 {
        align-items: center;
        border-radius: 2px;
        border: 1px solid #5474B4;
        background-color: rgba(#5474B4, 0.3);
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 32px;
        justify-content: center;
        line-height: 1.33333;
        margin-left: 4px;
        margin-right: 4px;
        padding: 8px;
        transition: background-color 0.3s;
        text-decoration: none;
        @media(min-width: $fhd) {
            margin-left: 6px;
            margin-right: 6px;
        }
        @media(min-width: $ufhd) {
            border-width: 2px;
            font-size: 18px;
            height: 56px;
            line-height: 1.11111;
            margin-left: 8px;
            margin-right: 8px;
            padding: 12px;
        }

        &:nth-child(1),
        &:nth-child(3) {
            span {
                @media(max-width: 1899px) {
                    display: none;
                }
            }
        }

        &:active,
        &:hover {
            background-color: #5474B4;
        }

        svg {
            fill: #fff;
            height: 16px;
            width: 16px;
            @media(min-width: $ufhd) {
                height: 32px;
                width: 32px;
            }
        }

        span {
            margin-left: 10px;
        }
    }

    &__buy-block {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__price-block {
        margin-right: 16px;
        @media(min-width: $fhd) {
            margin-right: 24px;
        }
        @media(min-width: $ufhd) {
            margin-right: 40px;
        }
    }

    &__price {
        color: #fff;
        font-size: 24px;
        font-weight: 900;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 4px;
        @media(min-width: $fhd) {
            font-size: 32px;
            margin-bottom: 8px;
        }
        @media(min-width: $ufhd) {
            font-size: 48px;
        }
    }

    &__credit {
        align-items: center;
        display: flex;
        font-size: 16px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
        @media(min-width: $ufhd) {
            font-size: 18px;
        }

        .info {
            margin-right: 4px;
        }

        .info__popover {
            font-size: 14px;
            padding: 6px 12px;
            width: 120px;
        }
    }

    &__buy-button {
        align-items: center;
        background-color: #D43C38;
        border-radius: 2px;
        border: 2px solid #D43C38;
        box-shadow: 0 4px 4px 0 rgba(#000, 0.25);
        color: #fff;
        display: flex;
        font-size: 16px;
        font-weight: 800;
        height: 48px;
        line-height: 1.5;
        padding: 12px 32px;
        transition: background-color 0.3s;
        text-decoration: none;
        @media(min-width: $fhd) {
            font-size: 18px;
            height: 56px;
            padding: 16px 60px;
        }
        @media(min-width: $ufhd) {
            font-size: 24px;
            height: 80px;
            padding: 24px 80px;
        }

        &:active,
        &:hover {
            background-color: rgba(#D43C38, 0.3);
        }
    }
}