.components {
    list-style: none;
    margin: 0 -4px;
    padding: 0;
    @media(min-width: $hd) {
        display: flex;
        flex-wrap: wrap;
        max-width: 740px;
        padding: 0;
        position: relative;
        z-index: 2;
    }
    @media(min-width: $fhd) {
        max-width: 1060px;
    }
    @media(min-width: $ufhd) {
        margin-left: -6px;
        margin-right: -6px;
    }
    @media(min-width: $q) {
        margin-left: -8px;
        margin-right: -8px;
        max-width: 1320px;
    }
    @media(min-width: $q) and (min-height: 1700px) {
        max-width: 1500px !important;
    }

    &__item {
        padding-right: 4px;
        padding-left: 4px;
        margin-bottom: 12px;
        @media(min-width: $hd) {
            padding-right: 4px;
            padding-left: 4px;
            margin-bottom: 12px;
            max-width: 244px;
            position: relative;
            width: calc(100% / 3);
        }
        @media(min-width: $fhd) {
            max-width: 352px;
        }
        @media(min-width: $ufhd) {
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 16px;
        }
        @media(min-width: $q) {
            padding-left: 8px;
            padding-right: 8px;
            max-width: 440px;
        }
        @media(min-width: $q) and (min-height: 1700px) {
            max-width: 500px !important;
        }

        &:nth-child(2),
        &:nth-child(5) {
            .components-dropdown {
                @media(min-width: $hd) {
                    left: 50%;
                    transform: translate(-50%, -100%);
                }
            }
        }

        &:nth-child(3),
        &:nth-child(6) {
            .components-dropdown {
                @media(min-width: $hd) {
                    left: auto;
                    right: 0;
                }
            }
        }

        &:last-child {
            @media(max-width: $hd - 1) {
                margin-bottom: 0;
            }
        }
    }
}

.components-dropdown {
    bottom: 0;
    background-color: #0C1117;
    box-shadow: 0 0 12px 0 #5474B4;
    border-radius: 8px;
    display: none;
    height: calc(100% - 12px);
    left: 0;
    overflow-y: auto;
    position: fixed;
    padding-bottom: 4px;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s;
    top: auto;
    z-index: 100;
    @media(min-width: $hd) {
        bottom: auto;
        box-shadow: 0 0 8px 0 rgba(#fff, 0.3);
        border-radius: 8px;
        display: none;
        height: auto;
        left: 4px;
        max-width: 750px;
        overflow-y: visible;
        position: absolute;
        padding-bottom: 4px;
        right: auto;
        transform: translateY(-100%);
        top: -20px;
        z-index: 2;
    }
    @media(min-width: $fhd) {
        min-width: 354px;
        max-width: 1054px;
    }
    @media(min-width: $ufhd) {
        left: 6px;
    }
    @media(min-width: $q) {
        left: 8px;
        max-width: 1210px;
    }
    @media(min-width: $q) and (min-height: 1700px) {
        max-width: 1460px !important;
    }

    &.is-open {
        transform: translateY(0);
        @media(min-width: $hd) {
            transform: translateY(-100%);
        }
    }

    &__top-wrapper {
        background-color: #0C1117;
        border-radius: 8px 8px 0 0;
        padding: 0 8px 8px;
        position: sticky;
        top: 0;
        z-index: 3;
        @media(min-width: $hd) {
            background-color: transparent;
            border-radius: 0;
            position: static;
            z-index: auto;
        }
    }

    &__top {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__top-title {
        font-size: 18px;
        font-weight: 700;
        margin: 8px 0 0;
        white-space: nowrap;
        @media(min-width: $hd) {
            display: none;
        }
    }

    &__close {
        align-items: center;
        border-radius: 2px;
        border: none;
        background-color: rgba(#fff, 0.1);
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        min-width: 40px;
        margin-top: 8px;
        padding: 0;
        transition: background-color 0.3s;
        width: 40px;
        @media(min-width: $hd) {
            height: 32px;
            min-width: 32px;
            width: 32px;
        }

        &:hover {
            background-color: rgba(#fff, 0.3);
        }

        svg {
            fill: #fff;
            height: 14px;
            width: 14px;
            @media(min-width: $hd) {
                height: 12px;
                width: 12px;
            }
        }
    }

    &__reset {
        align-items: center;
        border-radius: 2px;
        border: none;
        background-color: rgba(#fff, 0.1);
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        min-width: 40px;
        margin-top: 8px;
        padding: 0;
        transition: background-color 0.3s;
        width: 40px;
        @media(min-width: $hd) {
            background-color: rgba(#fff, 0.2);
            height: 32px;
            margin-left: auto;
            margin-right: 24px;
            padding: 4px 16px;
            width: 128px;
        }

        &:hover {
            background-color: rgba(#fff, 0.3);
        }

        svg {
            fill: #fff;
            height: 30px;
            width: 30px;
            @media(min-width: $hd) {
                height: 24px;
                width: 24px;
            }
        }

        span {
            display: none;
            margin-left: 10px;
            @media(min-width: $hd) {
                display: block;
            }
        }
    }

    .switch {
        font-size: 12px;
        font-weight: 500;
        margin-top: 8px;
        margin-right: auto;
        @media(min-width: $fhd) {
            font-size: 16px;
        }
    }

    &__list-outer {
        @media(min-width: $hd) {
            display: flex;
            max-height: 316px;
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: #5793ea rgba(#5793ea, 0.2);
            scrollbar-gutter: stable both-edges;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            max-height: 760px;
        }

        &::-webkit-scrollbar {
            @media(min-width: $hd) {
                height: 6px;
                opacity: 0;
                width: 6px;
            }
        }

        &::-webkit-scrollbar-track {
            @media(min-width: $hd) {
                background-color: transparent;
                border-radius: 3px;
                transition: background-color 0.3s;
            }
        }

        &::-webkit-scrollbar-thumb {
            @media(min-width: $hd) {
                background-color: transparent;
                border-radius: 3px;
                transition: background-color 0.3s;
            }
        }

        &:hover {
            &::-webkit-scrollbar-track {
                @media(min-width: $hd) {
                    background-color: rgba(#5793ea, 0.2);
                }
            }

            &::-webkit-scrollbar-thumb {
                @media(min-width: $hd) {
                    background-color: #5793ea;
                }
            }
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        padding: 6px;
    }

    &__tabs {
        padding: 8px 36px;
        position: relative;
        @media(min-width: $hd) {
            max-width: 360px;
        }

        .swiper-container {
            margin: 0;
            max-width: 360px;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-color: transparent;
            border: none;
            height: 32px;
            margin: 0;
            transform: translateY(-50%);
            width: 32px;
            z-index: 1;

            &::after {
                display: none;
            }

            svg {
                fill: #fff;
                height: 16px;
                width: 16px;
            }
        }

        .swiper-slide {
            width: auto;
        }
    }

    &__tab {
        align-items: center;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        height: 32px;
        padding: 4px 24px;
        user-select: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(#fff, 0.1);
        }

        &.is-active {
            background-color: rgba(#fff, 0.2);
        }
    }

    &__tabs-2 {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 8px;
        width: 100%;
        @media(min-width: $hd) {
            display: none;
        }

        .components-dropdown__tab {
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

.component {
    background-color: #0C1117;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    min-height: 80px;
    overflow: hidden;
    position: relative;
    padding: 0;
    text-align: left;
    transition: box-shadow 0.3s;
    user-select: none;
    width: 100%;
    z-index: 2;
    @media(min-width: $hd) {
        min-height: 56px;
        min-width: 232px;
    }
    @media(min-width: $fhd) {
        min-height: 88px;
        min-width: 334px;
    }
    @media(min-width: $q) {
        min-width: 380px;
    }
    @media(min-width: $q) and (min-height: 1400px) {
        min-height: 132px;
    }
    @media(min-width: $q) and (min-height: 1700px) {
        min-width: 464px !important;
    }

    &--type_1 {
        .component__logo {
            @media(max-width: $hd - 1) {
                display: none;
            }
        }

        .component__qnt {
            opacity: 0;
            transition: opacity 0.3s;
            @media(max-width: $hd - 1) {
                opacity: 1;
            }
        }

        &.is-active {
            box-shadow: 0 0 6px 0 #fff;
        }
    }

    &--type_2 {
        box-shadow: 0 0 8px 0 rgba(#fff, 0.3);

        &.is-active {
            border-color: #5793ea;
            box-shadow: 0 0 6px 0 #5793ea;

            &:focus,
            &:hover {
                box-shadow: 0 0 6px 0 #5793ea;
            }
        }

        .component__image {
            padding: 12px;
            @media(min-width: $fhd) {
                padding: 12px 16px;
            }
            @media(min-width: $q) {
                padding: 20px;
            }
        }
    }

    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.1s linear;
    }

    &::before {
        width: 180px;
        height: 180px;
        background: radial-gradient(circle at center, #FFF 0%, transparent 60%);
        opacity: 0;
        mix-blend-mode: screen;
        transform: translate(calc(var(--px) * 1px), calc(var(--py) * 1px)) translate(-50%, -50%);
    }

    &::after {
        background: inherit;
        border-radius: 4px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition-delay: 0.05s;
    }

    &:focus,
    &:hover {
        box-shadow: 0 0 6px 0 #fff;

        &::before {
            opacity: 0.6;
        }

        &::after {
            opacity: 0.8;
            transition-delay: 0s;
        }
    }

    &:focus,
    &:hover {
        .component__qnt + .component__logo {
            opacity: 0;
        }

        .component__qnt {
            opacity: 1;
        }
    }

    &:disabled {
        color: rgba(#fff, 0.2);
        cursor: default;
        pointer-events: none;

        .component__image {
            opacity: 0.2;
        }

        &::after {
            opacity: 0.2;
        }

        .component__details {
            svg {
                fill: rgba(#fff, 0.2);
            }
        }

        .component__logo {
            opacity: 0.2;
        }

        &:active,
        &:hover {
            box-shadow: none;

            .component__logo {
                opacity: 1;
            }

            .component__qnt {
                display: none;
                opacity: 0;
            }
        }
    }

    &__image {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 80px;
        padding: 8px;
        @media(min-width: $hd) {
            height: 56px;
            padding: 20px 16px 20px 20px;
        }
        @media(min-width: $fhd) {
            height: 88px;
            padding: 20px 16px 20px 20px;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            height: 126px;
            padding: 35px 16px 35px 20px;
        }

        svg {
            fill: #fff;
            height: 40px;
            width: 40px;
            @media(min-width: $hd) {
                height: 32px;
                width: 32px;
            }
            @media(min-width: $fhd) {
                height: 48px;
                width: 48px;
            }
            @media(min-width: $q) {
                height: 56px;
                width: 56px;
            }
        }
    }

    &__text {
        padding-top: 8px;
        padding-bottom: 8px;
        @media(min-width: $hd) {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        @media(min-width: $fhd) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__title {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.33333;
        margin-bottom: 8px;
        @media(min-width: $hd) {
            font-size: 12px;
            margin-bottom: 4px;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
            line-height: 1.11111;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            font-size: 20px;
            margin-bottom: 12px;
        }
        @media(min-width: $q) and (min-height: 1700px) {
            font-size: 24px !important;
        }
    }

    &__info {
        display: block;
        font-size: 12px;
        line-height: 1.33333;
        @media(min-width: $hd) {
            font-size: 8px;
            line-height: 1.5;
        }
        @media(min-width: $fhd) {
            font-size: 12px;
            line-height: 1.33333;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            font-size: 16px;
        }
        @media(min-width: $q) and (min-height: 1700px) {
            font-size: 20px !important;
        }
    }

    &__arrow {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3Cpolygon fill='%23fff' points='14.6,8.4 8,1.7 1.4,8.4 0.6,7.6 8,0.3 15.4,7.6'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 50% 50%;
        height: 9px;
        left: auto;
        position: absolute;
        right: 6px;
        top: 6px;
        width: 9px;
        @media(min-width: $fhd) {
            height: 14px;
            right: 12px;
            top: 12px;
            width: 14px;
        }
        @media(min-width: $q) {
            height: 20px;
            right: 16px;
            top: 16px;
            width: 20px;
        }
    }

    &__logo {
        bottom: 0;
        height: 40px;
        left: auto;
        opacity: 1;
        position: absolute;
        right: 8px;
        top: auto;
        transition: opacity 0.3s;
        width: 40px;
        z-index: 1;
        @media(min-width: $fhd) {
            height: 64px;
            width: 64px;
        }
    }

    &__qnt {
        align-items: center;
        display: flex;
        margin: auto 6px 6px auto;
        position: relative;
        z-index: 2;
        @media(min-width: $fhd) {
            margin: auto 12px 12px auto;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            margin: auto 16px 16px auto;
        }
    }

    &__qnt-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 16px;
        padding: 0;
        position: relative;
        width: 16px;
        @media(min-width: $q) and (min-height: 1400px) {
            height: 24px;
            width: 24px;
        }

        &::after {
            cursor: pointer;
            content: '';
            height: 32px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            z-index: 1;
        }

        &:active,
        &:focus,
        &:hover {
            svg {
                fill: rgba(#fff, 0.4);
            }
        }

        svg {
            fill: rgba(#fff, 0.2);
            height: 16px;
            transition: fill 0.3s;
            width: 16px;
            @media(min-width: $q) and (min-height: 1400px) {
                height: 24px;
                width: 24px;
            }
        }
    }

    &__qnt-num {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        width: 20px;
        @media(min-width: $q) and (min-height: 1400px) {
            font-size: 20px;
            width: 24px;
        }
    }

    &__details {
        left: auto;
        position: absolute;
        right: 6px;
        top: 6px;
        z-index: 1;
        @media(min-width: $fhd) {
            right: 12px;
            top: 12px;
        }
        @media(min-width: $q) and (min-height: 1400px) {
            right: 16px;
            top: 16px;
        }

        svg {
            fill: #fff;
            height: 16px;
            width: 16px;
            @media(min-width: $q) and (min-height: 1400px) {
                height: 24px;
                width: 24px;
            }
        }

        &::before {
            content: '';
            cursor: pointer;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
}