<div class="config__title-block">
    <p class="config__title">Производительность</p>
    <button class="js-popup-opener filter-toggler" type="button" data-popup="js-popup-test" title="Изменить тесты">
        <svg aria-hidden="true">
            <use xlink:href="#gear"></use>
        </svg>
    </button>
    <button class="js-graphs-closer graphs-closer" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="graphs-switcher">
        <div class="graphs-switcher__inner">
            <button class="js-graphs graphs-switcher__button is-active" type="button" data-target="1" data-title="Производительность">Показатели</button>
            <button class="js-graphs graphs-switcher__button" type="button" data-target="2" data-title="Комплектующие">Комплектующие</button>
        </div>
    </div>

    <div class="dropdown">
        <button class="js-dropdown dropdown__placeholder dropdown__placeholder--big dropdown__placeholder--arrow" type="button">Сначала новые</button>
        <div class="dropdown__dropdown">
            <button class="dropdown__dropdown-item" type="button">Выберите приложение</button>
            <button class="dropdown__dropdown-item is-active" type="button">Cinebench R23 Multi</button>
            <button class="dropdown__dropdown-item" type="button">Сначала популярные</button>
        </div>
    </div>

    <div class="dropdown">
        <button class="js-dropdown dropdown__placeholder dropdown__placeholder--big dropdown__placeholder--arrow" type="button">Сначала новые</button>
        <div class="dropdown__dropdown">
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item is-active" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
            <button class="dropdown__dropdown-item" type="button">AMD Radeon RX 6900 XT 16GB</button>
        </div>
    </div>
</div>