<div class="config__title-block">
    <p class="config__title">Производительность</p>

    <button class="js-popup-opener filter-toggler" type="button" data-popup="js-popup-test" title="Изменить тесты">
        <svg aria-hidden="true">
            <use xlink:href="#gear"></use>
        </svg>
    </button>

    <button class="js-graphs-closer graphs-closer" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <div class="graphs-switcher">
        <div class="graphs-switcher__inner">
            <button class="js-graphs graphs-switcher__button is-active" type="button" data-target="1" data-title="Производительность">Показатели</button>
            <button class="js-graphs graphs-switcher__button" type="button" data-target="2" data-title="Комплектующие">Комплектующие</button>
        </div>
    </div>

    <div class="dropdown hidden order-2">
        <button class="js-dropdown dropdown__placeholder" type="button">Выберите приложение</button>
        <div class="dropdown__dropdown">
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">DaVinci Resolve Studi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">V-Ray CPU Rendering</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Handbrake 1080p30 H264 to 4K60 HEVC</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
            <div class="dropdown__dropdown-item">
                <button class="dropdown__dropdown-button" type="button">Cinebench R23 Multi</button>
            </div>
        </div>
    </div>

    <div class="dropdown hidden order-3">
        <button class="js-dropdown dropdown__placeholder" type="button">Выберите комплектующие</button>
        <div class="dropdown__dropdown">
            <div class="dropdown__dropdown-item">
                <div class="dropdown__switch">
                    <div class="dropdown__switch-inner">
                        <button class="dropdown__switch-button is-active" type="button">CPU</button>
                        <button class="dropdown__switch-button" type="button">GPU</button>
                    </div>
                </div>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6650 XT</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
            <div class="dropdown__dropdown-item">
                <label class="dropdown__checkbox-label">
                    <input type="checkbox">
                    <span class="dropdown__checkbox-icon"></span>
                    <span class="dropdown__checkbox-text">AMD Radeon RX 6900 XT 16GB</span>
                </label>
            </div>
        </div>
    </div>
</div>