<div class="graphs" data-target="2" style="display: none">
    <div class="graphs__more">Больше — лучше</div>

    <div class="graphs__list">
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar graph__bar--type_1" style="width: 90%"></div>
                <div class="graph__bar-title" style="width: 90%">
                    <span>AMD Radeon RX 6650 XT 8GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 80%"></div>
                <div class="graph__bar-title" style="width: 80%">
                    <span>AMD Radeon RX 6900 XT 16GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 70%"></div>
                <div class="graph__bar-title" style="width: 70%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 50%"></div>
                <div class="graph__bar-title" style="width: 50%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 40%"></div>
                <div class="graph__bar-title" style="width: 40%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 30%"></div>
                <div class="graph__bar-title" style="width: 30%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 20%"></div>
                <div class="graph__bar-title" style="width: 20%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/vendor_logo.jpg" srcset="images/content/vendor_logo@2x.jpg 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 10%"></div>
                <div class="graph__bar-title" style="width: 10%">
                    <span>AMD Radeon RX 6500 XT 4GB</span>
                </div>
            </div>
        </div>
        <div class="graph graph--skeleton">
            <div class="graph__image"></div>
            <div class="graph__bar-block"></div>
        </div>
    </div>
</div>