<div class="graphs" data-target="1">
    <div class="graphs__hz">60 Hz</div>
    <div class="graphs__hz">120 Hz</div>
    <div class="graphs__hz">144 Hz</div>

    <div class="graphs__list">
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 90%"></div>
                <div class="graph__bar-title" style="width: 90%">
                    <span>The Elder Scrolls II</span>
                    <span><b>200</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 70%"></div>
                <div class="graph__bar-title" style="width: 70%">
                    <span>ARK: Survival Evolved</span>
                    <span><b>100</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="graph__image"><img src="images/content/game_logo.png" srcset="images/content/game_logo@2x.png 2x" alt="название игры"></div>
            <div class="graph__bar-block">
                <div class="graph__bar" style="width: 60%"></div>
                <div class="graph__bar-title" style="width: 60%">
                    <span>Assasins Creed Valhalla</span>
                    <span><b>90</b> FPS</span>
                </div>
            </div>
        </div>
        <div class="graph graph--skeleton">
            <div class="graph__image"></div>
            <div class="graph__bar-block"></div>
        </div>
    </div>
</div>