<ul class="sections">
    <li class="sections__item"><button class="sections__button is-active" type="button">Платформа</button></li>
    <li class="sections__item"><button class="sections__button" type="button">Хранение данных</button></li>
    <li class="sections__item"><button class="sections__button" type="button">Опции</button></li>
    <li class="sections__item"><button class="sections__button" type="button">Внешний вид</button></li>
    <li class="sections__item"><button class="sections__button" type="button">Сервис</button></li>
</ul>

<ul class="components">
    <li class="components__item">
        <button class="component" type="button">
            <span class="component__image">
                <svg aria-hidden="true">
                    <use xlink:href="#cpu" />
                </svg>
            </span>
            <span class="component__text">
                <span class="component__title">i5-12500 3.0GHz</span>
                <span class="component__info">Intel Core<br> 6 ядер / 12 потоков</span>
            </span>
            <span class="component__logo"><img src="images/content/logo.png" srcset="images/content/logo@2x.png 2x" alt="название"></span>
        </button>
    </li>
    <li class="components__item">
        <button class="component" type="button">
            <span class="component__image">
                <svg aria-hidden="true">
                    <use xlink:href="#gpu" />
                </svg>
            </span>
            <span class="component__text">
                <span class="component__title">GTX 1650 4GB</span>
                <span class="component__info">NVIDIA<br> GeForce</span>
            </span>
            <span class="component__qnt">
                <a class="component__qnt-button" href="javascript:void(0)" title="Уменьшить">
                    <svg aria-hidden="true">
                        <use xlink:href="#minus" />
                    </svg>
                </a>
                <span class="component__qnt-num">1</span>
                <a class="component__qnt-button" href="javascript:void(0)" title="Увеличить">
                    <svg aria-hidden="true">
                        <use xlink:href="#plus" />
                    </svg>
                </a>
            </span>
        </button>
    </li>
    <li class="components__item">
        <button class="component" type="button">
            <span class="component__image">
                <svg aria-hidden="true">
                    <use xlink:href="#mb" />
                </svg>
            </span>
            <span class="component__text">
                <span class="component__title">B660</span>
                <span class="component__info">mATX 4xDDR4<br> 2xM.2 / 1xPCI-E x16</span>
            </span>
        </button>
    </li>
    <li class="components__item">
        <button class="component" type="button">
            <span class="component__image">
                <svg aria-hidden="true">
                    <use xlink:href="#ram" />
                </svg>
            </span>
            <span class="component__text">
                <span class="component__title">32GB RGB</span>
                <span class="component__info">DDR4 3200Mhz<br> 2 x 16Gb</span>
            </span>
            <span class="component__qnt">
                <a class="component__qnt-button" href="javascript:void(0)" title="Уменьшить">
                    <svg aria-hidden="true">
                        <use xlink:href="#minus" />
                    </svg>
                </a>
                <span class="component__qnt-num">1</span>
                <a class="component__qnt-button" href="javascript:void(0)" title="Увеличить">
                    <svg aria-hidden="true">
                        <use xlink:href="#plus" />
                    </svg>
                </a>
            </span>
        </button>
    </li>
    <li class="components__item">
        <button class="component" type="button">
            <span class="component__image">
                <svg aria-hidden="true">
                    <use xlink:href="#pb" />
                </svg>
            </span>
            <span class="component__text">
                <span class="component__title">550W</span>
                <span class="component__info">Сертификат BRONZE</span>
            </span>
        </button>
    </li>
</ul>