<!--TODO-->
<div class="config__title-block">
    <p class="config__title">Производительность</p>
    <button class="js-popup-opener filter-toggler" type="button" data-popup="js-popup-test" title="Изменить тесты">
        <svg aria-hidden="true">
            <use xlink:href="#gear"></use>
        </svg>
    </button>
    <button class="js-graphs-closer graphs-closer" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>
</div>
<!--TODO-->