<div class="card">
    <div class="card__title-block">
        <p class="card__title">PROGAMING M</p>
        <p class="card__rating">
            <svg aria-hidden="true">
                <use xlink:href="#star"></use>
            </svg>
            4.9
        </p>
        <p class="card__label card__label--type_1">Под заказ 4-5 д.</p>
        <p class="card__label card__label--type_2">Смотрят сейчас 7 человек</p>
        <p class="card__label card__label--type_3">Бесплатная доставка</p>
    </div>
    <div class="card__image">
        <div class="card__buttons">
            <button class="card__button" type="button" title="Поделиться">
                <svg aria-hidden="true">
                    <use xlink:href="#share"></use>
                </svg>
            </button>
            <button class="card__button" type="button" title="Добавить в сравнение">
                <svg aria-hidden="true">
                    <use xlink:href="#compare"></use>
                </svg>
            </button>
        </div>
        <img src="images/content/img.png" srcset="images/content/img@2x.png 2x" alt="alt">
    </div>
    <div class="card__buttons-2">
        <button class="card__button-2" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#download"></use>
            </svg>
            <span>Спецификация</span>
        </button>
        <button class="card__button-2" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#consult"></use>
            </svg>
            <span>Консультация</span>
        </button>
        <button class="card__button-2" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#save"></use>
            </svg>
            <span>Сохранить</span>
        </button>
    </div>
    <div class="card__buy-block">
        <div class="card__price-block">
            <p class="card__price">441 300 ₽</p>
            <p class="card__credit">
                <span class="info">
                    <button class="info__button" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="#quest"></use>
                        </svg>
                    </button>
                    <span class="info__popover">
                        <span><span></span></span>
                        Рассрочка
                    </span>
                </span>
                36 777 / мес.
            </p>
        </div>
        <a class="card__buy-button" href="#">Купить</a>
    </div>
</div>