<header class="header">
    <a class="header__logo" href="#" title="На главную"><img src="images/logo.svg" alt="Digital Razor"></a>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-list-item"><a class="header__menu-link" href="#">Сервис</a></li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#">Доставка</a></li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#">Оплата</a></li>
            <li class="header__menu-list-item"><a class="header__menu-link" href="#">Сравнение <span class="header__menu-link-qnt">3</span></a></li>
        </ul>
    </nav>

    <div class="header__icons">
        <!--TODO-->
        <a class="js-informer-opener header__icons-link" href="#" title="События">
            <svg aria-hidden="true">
                <use xlink:href="#alert" />
            </svg>
            <span class="header__icons-link-qnt">1</span>
        </a>
        <!--TODO-->
        <a class="header__icons-link" href="#" title="Помощь">
            <svg aria-hidden="true">
                <use xlink:href="#help" />
            </svg>
        </a>
        <a class="js-popup-opener header__icons-link" href="#" title="Личный кабинет" data-popup="js-popup-auth">
            <svg aria-hidden="true">
                <use xlink:href="#personal" />
            </svg>
        </a>
        <a class="header__icons-link" href="#" title="Корзина">
            <svg aria-hidden="true">
                <use xlink:href="#cart" />
            </svg>
        </a>
    </div>
</header>