<div class="js-popup-test popup popup--type_2">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <p class="popup__big-title">Тесты</p>

    <div class="tests-sections">
        <button class="tests-sections__button is-active" type="button">Игры</button>
        <button class="tests-sections__button" type="button">Синтетика</button>
        <button class="tests-sections__button" type="button">Создание контента</button>
    </div>
</div>