<div class="js-popup-auth-finish popup popup--type_3">
    <div class="popup__title-block popup__title-block--type_1">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Успешно!</p>
    </div>

    <div class="auth-finish">
        <div class="auth-finish__image">
            <img src="images/content/auth-finish.png" srcset="images/content/auth-finish@2x.png 2x" alt="alt">
        </div>
        <div class="auth-finish__button-block">
            <button class="js-popup-closer button button--type_2" type="button">Хорошо</button>
        </div>
    </div>
</div>