<div class="js-popup-spec popup popup--type_1">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <p class="popup__big-title">Спецификация</p>
    <div class="specification">

        <div class="specification__section">
            <p>
                <b>Процессор:</b> AMD Ryzen R5 3600 6-и ядерный 3.6 GHz<br>
                <b>Видеокарта:</b> AMD Radeon 5500XT 8GB<br>
                <b>Оперативная память:</b> 32GB 3000Mhz 2 x 16Gb DDR4 Black<br>
                <b>Системный SSD:</b> 240Gb M.2 Скорость W/R: 350/500 Мб/с<br>
                <b>Накопитель 1:</b> Не выбран<br>
                <b>Накопитель 2:</b> Не выбран<br>
                <b>Кулер:</b> AIR 120 бесшумное воздушное охлаждение<br>
                <b>Блок питания:</b> 600W Сертификат PLUS<br>
                <b>WI-FI / BT:</b> Wi-Fi USB 2.4 / 5 Ghz 867 Мбит/с<br>
                <b>Cистемная плата:</b> ATX 4xDDR4 2xM.2 / 2xPCI-E x16<br>
                <b>Офис:</b> Office 360<br>
                <b>ПО:</b> Windows 10 Professional / MS Office<br>
                <b>Плата захвата:</b> без платы<br>
                <b>Фирменные подарки:</b> Коврик Digital Razor
            </p>
        </div>
        <div class="specification__section">
            <p class="specification__section-title">Модинг</p>
            <p>
                <b>Корпусные кулера:</b> 2 дополнительных ARGB<br>
                <b>Подсветка:</b> Светодиодная ARGB подсветка корпуса<br>
                <b>Разворот видеокарты:</b> стандартный<br>
                <b>Цветная оплётка:</b> Кастомная оплетка проводов - Красная
            </p>
        </div>
        <div class="specification__section">
            <p class="specification__section-title">Гарантия 24 месяца</p>
            <p>
                • Бесплатный гарантийный ремонт<br>
                • Удаленная диагностика неисправности<br>
                • Горячая замена неисправных комплектующих<br>
                • Компенсация 50% стоимости до СЦ и обратно
            </p>
        </div>
        <div class="specification__section">
            <p class="specification__section-title">Тестирование 7 часов</p>
            <p>
                • Стресс-тестирование (синтетика)<br>
                • Оценка стабильности и производительности системы<br>
                • Обновление BIOS<br>
                • Установка актуальных драйверов<br>
                • Настройка операционной системы
            </p>
        </div>
        <div class="specification__section">
            <p class="specification__section-title">Бесплатная доставка</p>
        </div>

    </div>
    <div class="specification-buttons">
        <button class="js-popup-opener button button--type_1" type="button" data-popup="js-popup-spec-save">
            <svg aria-hidden="true">
                <use xlink:href="#save"></use>
            </svg>
            Сохранить
        </button>
        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#consult"></use>
            </svg>
            Консультация
        </button>
    </div>
</div>

<div class="js-popup-spec-save popup popup--type_3">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <p class="popup__title">Оставьте свой Email,<br> мы отправим вам<br> спецификацию</p>

    <div class="spec-save">
        <label class="input-label">
            <span class="input-label__text">Email*</span>
            <input class="js-email-mask input" type="text">
        </label>

        <label class="input-label">
            <span class="input-label__text">Имя*</span>
            <input class="input" type="text">
        </label>

        <div class="spec-save__button-block">
            <button class="button button--type_1" type="button">Отправить</button>
        </div>
    </div>
</div>