<div class="js-popup-share popup popup--type_3">
    <div class="popup__title-block popup__title-block--type_1">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Поделиться</p>
    </div>

    <div class="share-buttons">
        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#link"></use>
            </svg>
            Скопировать ссылку
        </button>
        <div class="share-links">
            <a class="share-link" href="#" title="Instagram" rel="nofollow noopener noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="#inst"></use>
                </svg>
            </a>
            <a class="share-link" href="#" title="Circle" rel="nofollow noopener noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="#circle"></use>
                </svg>
            </a>
            <a class="share-link" href="#" title="WhatsApp" rel="nofollow noopener noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="#wa"></use>
                </svg>
            </a>
            <a class="share-link" href="#" title="Telegram" rel="nofollow noopener noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="#tg"></use>
                </svg>
            </a>
            <a class="share-link" href="#" title="Bubble" rel="nofollow noopener noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="#bubble"></use>
                </svg>
            </a>
            <a class="share-link" href="#" title="Вконтакте" rel="nofollow noopener noreferrer">
                <svg aria-hidden="true">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>
        </div>
        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#save"></use>
            </svg>
            Добавить в сохраненные
        </button>
    </div>
</div>