<div class="js-popup-cart popup popup--type_3">
    <div class="popup__title-block popup__title-block--type_1">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Перейти в корзину</p>
    </div>

    <div class="cart-buttons">
        <a class="button button--type_2" href="#">Оформить</a>

        <a class="button button--type_1" href="#">Выбрать ещё</a>
    </div>
</div>