<div class="js-popup-consult popup popup--type_3">
    <div class="popup__title-block">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Оставьте свой номер,<br> мы вам перезвоними</p>
    </div>

    <div class="consult-form">
        <label class="input-label">
            <span class="input-label__text">Телефон*</span>
            <input class="js-phone-mask input" type="text">
        </label>
        <label class="input-label">
            <span class="input-label__text">Имя*</span>
            <input class="input" type="text">
        </label>
        <label class="input-label textarea-label">
            <textarea class="textarea" placeholder="Оставьте свой комментарий"></textarea>
        </label>
        <div class="consult-form__button-block">
            <button class="js-popup-opener button button--type_1" type="submit" data-popup="js-popup-consult-finish">Отправить</button>
        </div>
    </div>
</div>

<div class="js-popup-consult-finish popup popup--type_3">
    <div class="popup__title-block">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Наш офис работает<br> с 10:00 до 20:00<br> Мы свяжемся с вами<br> в рабочее время</p>
    </div>

    <div class="consult-finish">
        <div class="consult-finish__image">
            <img src="images/content/consult-finish.png" srcset="images/content/consult-finish@2x.png 2x" alt="alt">
        </div>
        <div class="consult-finish__button-block">
            <button class="js-popup-closer button button--type_1" type="button">Хорошо</button>
        </div>
    </div>
</div>