<div class="js-popup-detail popup popup--type_1">
    <!--TODO-->
    <div class="popup__title-block">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Технические характеристики</p>
    </div>
    <!--TODO-->

    <p class="component-title">RTX 3070 8GB</p>

    <p class="component-code">Код производителя: KF436C17BBAK2/16CL</p>

    <div class="component-chars">
        <p class="component-chars__title">Общие характеристики:</p>
        <table>
            <tr>
                <td>Тип видеокарты</td>
                <td>Игровая</td>
            </tr>
            <tr>
                <td>Видеокарта</td>
                <td>GeForce RTX 3060</td>
            </tr>
            <tr>
                <td>Интерфейс</td>
                <td>PCI-E 16x 4.0</td>
            </tr>
            <tr>
                <td>Техпроцесс</td>
                <td>8 нм</td>
            </tr>
            <tr>
                <td>Количество поддерживаемых мониторов</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Максимальное разрешение</td>
                <td>7680x4320</td>
            </tr>
        </table>
        <p class="component-chars__title">Технические характеристики:</p>
        <table>
            <tr>
                <td>Частота GPU</td>
                <td>1882 Мгц</td>
            </tr>
            <tr>
                <td>Обьем видеопамяти</td>
                <td>GeForce RTX 3060</td>
            </tr>
            <tr>
                <td>Тип видеопамяти</td>
                <td>GDDR6</td>
            </tr>
            <tr>
                <td>Техпроцесс</td>
                <td>8 нм</td>
            </tr>
            <tr>
                <td>Количество поддерживаемых мониторов</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Максимальное разрешение</td>
                <td>7680x4320</td>
            </tr>
        </table>
        <p class="component-chars__title">Общие характеристики:</p>
        <table>
            <tr>
                <td>Тип видеокарты</td>
                <td>Игровая</td>
            </tr>
            <tr>
                <td>Видеокарта</td>
                <td>GeForce RTX 3060</td>
            </tr>
            <tr>
                <td>Интерфейс</td>
                <td>PCI-E 16x 4.0</td>
            </tr>
            <tr>
                <td>Техпроцесс</td>
                <td>8 нм</td>
            </tr>
            <tr>
                <td>Количество поддерживаемых мониторов</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Максимальное разрешение</td>
                <td>7680x4320</td>
            </tr>
        </table>
        <p class="component-chars__title">Технические характеристики:</p>
        <table>
            <tr>
                <td>Частота GPU</td>
                <td>1882 Мгц</td>
            </tr>
            <tr>
                <td>Обьем видеопамяти</td>
                <td>GeForce RTX 3060</td>
            </tr>
            <tr>
                <td>Тип видеопамяти</td>
                <td>GDDR6</td>
            </tr>
            <tr>
                <td>Техпроцесс</td>
                <td>8 нм</td>
            </tr>
            <tr>
                <td>Количество поддерживаемых мониторов</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Максимальное разрешение</td>
                <td>7680x4320</td>
            </tr>
        </table>
    </div>
</div>