<div class="js-popup-informer popup popup--type_5">
    <div class="popup__title-block popup__title-block--type_3">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Уведомления</p>
    </div>

    <div class="notice-list">
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
        <div class="notice">
            <p class="notice__date">02.12.2022</p>
            <p class="notice__text">Вы выбрали производительную видеокарту. Процессор установленный в данной момент снизит показатели системы.<br> Заменить процессор на рекомендованный?</p>
            <div class="notice__buttons">
                <button class="notice__button" type="button">Да</button>
                <button class="notice__button" type="button">Нет</button>
            </div>
        </div>
    </div>
</div>