<div class="js-popup-save popup popup--type_3">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <p class="popup__title">Сохранение конфигурации</p>

    <div class="save-buttons">
        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#link"></use>
            </svg>
            Скопировать ссылку
        </button>
        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#email"></use>
            </svg>
            Прислать на почту
        </button>
        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#pdf"></use>
            </svg>
            Сохранить в PDF
        </button>
    </div>
</div>