<div class="js-popup-price popup popup--type_3">
    <div class="popup__title-block popup__title-block--type_1">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Оставьте свой Email, чтобы следить за стоимостью конфигурации</p>
    </div>

    <div class="consult-form">
        <label class="input-label">
            <span class="input-label__text">Email*</span>
            <input class="js-email-mask input" type="text">
        </label>
        <label class="input-label">
            <span class="input-label__text">Имя*</span>
            <input class="input" type="text">
        </label>

        <div class="consult-form__button-block">
            <button class="button button--type_1" type="submit">Отправить</button>
        </div>
    </div>
</div>