<div class="js-popup-paint popup popup--type_2">
    <div class="popup__title-block">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <p class="popup__title">Выбери свой дизайн</p>
    </div>

    <div class="tests-sections">
        <div class="tests-sections__list">
            <button class="js-tests tests-sections__button is-active" type="button" data-target="1">Винил</button>
            <button class="js-tests tests-sections__button" type="button" data-target="2">Покраска</button>
        </div>
    </div>

    <div class="js-tests-section" data-target="1">
        <div class="slider-filter">
            <div class="js-slider-filter swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="slider-filter__item is-active" type="button">Другое</button>
                    </div>
                    <div class="swiper-slide">
                        <button class="slider-filter__item" type="button">Аниме</button>
                    </div>
                    <div class="swiper-slide">
                        <button class="slider-filter__item" type="button">Фильмы</button>
                    </div>
                    <div class="swiper-slide">
                        <button class="slider-filter__item" type="button">Игры</button>
                    </div>
                    <div class="swiper-slide">
                        <button class="slider-filter__item" type="button">Спорт</button>
                    </div>
                    <div class="swiper-slide">
                        <button class="slider-filter__item" type="button">Тачки</button>
                    </div>
                </div>
            </div>
            <button id="slider-filter-1-prev" class="swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="slider-filter-1-next" class="swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>

        <div class="tests">
            <div class="js-paints-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="paint is-active" type="button" title="Выбрано">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint" type="button" title="Выбрать">
                            <img src="images/content/paint.jpg" srcset="images/content/paint@2x.jpg 2x" alt="alt">
                        </button>
                    </div>
                </div>
            </div>
            <button id="paints_1_prev" class="js-paints-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="paints_1_next" class="js-paints-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>

        <div class="apply-block">
            <button class="apply-block__button" type="button">
                Сброс
                <svg aria-hidden="true">
                    <use xlink:href="#reset_2"></use>
                </svg>
            </button>
            <button class="apply-block__button" type="button">
                Оставить как есть
                <svg aria-hidden="true">
                    <use xlink:href="#reset_3"></use>
                </svg>
            </button>
            <button class="apply-block__button apply-block__button--type_2" type="button">
                Применить
            </button>
        </div>
    </div>

    <div class="js-tests-section" data-target="2" style="display:none">
        <div class="tests">
            <div class="js-paints-slider-2 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="paint paint--type_2 is-active" type="button" title="Выбрано">
                            <span style="background-color:#D43C38"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#315CB4"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#EAAC52"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#5474B4"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#FFFFFF"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#FFFFFF"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#747474"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#9B5DE5"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#47DF58"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#315CB4"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#EAAC52"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#5474B4"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#FFFFFF"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#FFFFFF"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#747474"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#9B5DE5"></span>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="paint paint--type_2" type="button" title="Выбрать">
                            <span style="background-color:#47DF58"></span>
                        </button>
                    </div>
                </div>
            </div>
            <button id="paints_2_prev" class="js-paints-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="paints_2_next" class="js-paints-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>

        <div class="apply-block">
            <button class="apply-block__button" type="button">
                Сброс
                <svg aria-hidden="true">
                    <use xlink:href="#reset_2"></use>
                </svg>
            </button>
            <button class="apply-block__button apply-block__button--type_2" type="button">
                Применить
            </button>
        </div>
    </div>
</div>