<div class="js-popup-auth popup popup--type_4">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#close"></use>
        </svg>
    </button>

    <p class="popup__title popup__title--type_3">Чтобы продолжить, авторизуйтесь</p>

    <div class="auth-form">
        <label class="input-label">
            <span class="input-label__text">Email*</span>
            <input class="js-email-mask input" type="text">
        </label>

        <div class="auth-form__buttons">
            <button class="js-popup-opener button button--type_1" type="button" data-popup="js-popup-register">Нет аккаунта</button>
            <button class="js-popup-opener button button--type_2" type="button" data-popup="js-popup-code">Отправить код</button>
        </div>
    </div>
</div>