<div class="js-popup-code popup popup--type_4">
    <!--TODO-->
    <div class="popup__title-block popup__title-block--type_3">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Введите код подтверждения</p>
    </div>
    <!--TODO-->

    <p class="code-note">Код подтверждения должен состоять из 6-ти цифр</p>

    <div class="code-form">
        <label class="input-label">
            <input class="input" type="text">
        </label>

        <div class="code-form__buttons">
            <button class="js-popup-opener button button--type_2" type="button" data-popup="js-popup-auth-finish">Войти</button>
            <button class="button button--type_1" type="button">Повторить попытку</button>
        </div>
    </div>
</div>