<div class="js-popup-register popup popup--type_5">
    <!--TODO-->
    <div class="popup__title-block popup__title-block--type_3">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <p class="popup__title">Регистрация</p>
    </div>
    <!--TODO-->

    <div class="register-form">
        <label class="input-label error">
            <span class="input-label__text">Email*</span>
            <input class="js-email-mask input" type="text">
            <span class="input-label__error">Email не может содержать символы (!*№£#)</span>
        </label>

        <label class="input-label valid">
            <span class="input-label__text">Имя*</span>
            <input class="input" type="text">
        </label>

        <label class="input-label">
            <span class="input-label__text">Фамилия*</span>
            <input class="input" type="text">
        </label>

        <label class="input-label">
            <span class="input-label__text">Дата рождения</span>
            <span class="input-label__input-container">
                <input class="input" type="text">
                <svg aria-hidden="true">
                    <use xlink:href="#calendar" />
                </svg>
            </span>
        </label>

        <label class="input-label">
            <span class="input-label__text">Телефон*</span>
            <input class="js-phone-mask input" type="text">
        </label>

        <div class="register-form__buttons">
            <button class="button button--type_2" type="button">Отправить код</button>
        </div>
    </div>
</div>