.register-form {
    .input-label {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        max-width: 280px;
    }

    &__buttons {
        text-align: center;

        .button {
            font-size: 12px;
            height: 40px;
            width: 196px;
        }
    }
}