.register-form {
    .input-label {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        max-width: 355px;
    }

    &__buttons {
        text-align: center;

        .button {
            font-size: 12px;
            height: 40px;
            width: 196px;
            @media(min-width: $hd) {
                font-size: 16px;
                width: 240px;
            }
        }
    }
}