.save-buttons {
    text-align: center;

    .button {
        min-width: 210px;
        @media(min-width: $hd) {
            min-width: 318px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
            @media(min-width: $hd) {
                margin-bottom: 32px;
            }
        }
    }
}

.spec-save {
    .input-label {
        margin-left: auto;
        margin-right: auto;
        max-width: 355px;
        margin-bottom: 24px;
    }

    &__button-block {
        text-align: center;

        .button {
            margin-top: 40px;
            width: 210px;
            @media(min-width: $hd) {
                margin-top: 100px;
                width: 318px;
            }
        }
    }
}