.popup-shade {
    background-color: rgba(#0c1117, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &__inner {
        bottom: 0;
        display: flex;
        left: 0;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.popup {
    background-color: #0C1117;
    box-shadow: 0 0 12px 0 rgba(#fff, 0.7);
    border-radius: 8px;
    color: #fff;
    display: none;
    height: 96%;
    margin: auto;
    overflow-y: auto;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #D43C38 rgba(#D43C38, 0.2);

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(#D43C38, 0.2);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #D43C38;
        border-radius: 3px;
    }

    &--type_1 {
        max-height: 700px;
        padding-top: 24px;
        padding-bottom: 24px;
        width: 990px;
    }

    &--type_2 {
        max-height: 700px;
        padding: 32px 54px;
        width: 1216px;
    }

    &--type_3 {
        max-height: 600px;
        padding-top: 56px;
        width: 478px;
    }

    &__close {
        align-items: center;
        border-radius: 2px;
        border: none;
        background-color: rgba(#fff, 0.1);
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 16px;
        top: 16px;
        transition: background-color 0.3s;
        width: 32px;

        &:hover {
            background-color: rgba(#fff, 0.3);
        }

        svg {
            fill: #fff;
            height: 12px;
            width: 12px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33333;
        margin-top: 0;
        margin-bottom: 64px;
        text-align: center;

        &--type_1 {
            margin-bottom: 16px;
        }

        &--type_2 {
            margin-bottom: 0;
        }
    }

    &__big-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 12px;
        text-align: center;
    }
}