.consult-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 355px;

    &__button-block {
        text-align: center;
    }

    .input-label {
        margin-bottom: 16px;
    }

    .textarea-label {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .button {
        max-width: 318px;
        width: 100%;
    }
}

.consult-finish {
    &__image {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    &__button-block {
        text-align: center;
    }

    .button {
        width: 162px;
    }
}